:root {
    font: 600 16px 'Open Sans', sans-serif;
  }
  
  body {
    background: rgba(0, 0, 0, 1);
    margin: 0;
  }
  canvas {
    display:block;
    background: rgb(0, 1, 3);
    position: fixed;
    z-index: -1;
  }
  .rootComponent{
    display:flex;
    flex-direction:row;
    align-items: left;
    justify-content: flex-start;
  }

  .login, 
  .signup, 
  .resume, 
  .sabnzbd, 
  .sickbeard, 
  .sickbeardkids, 
  .couchpotato, 
  .headphones, 
  .comics, 
  .books, 
  .home {
    background: rgba(247, 244, 244,1);
    margin: 10px 10px;
  }
  .main_menu {
    margin: 10px 10px;
    background: rgba(42, 61, 54, 0.5);
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    border: 30px;
    border-color: #ffffff;
  }

  .main_menu__options {
    background: rgba(42, 61, 54, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .menu_item {
    background: rgba(42, 61, 54, 0.5);
    cursor: pointer;
    height: 80px;
    color: #e7eaf0;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 10px 10px;
  }
  [class^="menu_item__image"] {
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding:10px 10px;
    box-sizing: border-box;
  }
